@font-face {
  font-family: "customFont";
  src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype");
}

body {
  font-family: "customFont";
}
.App {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg/bg-01.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.heading{
  position: fixed;
  z-index: 4;
  width: 100%;
  background: linear-gradient(90deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(8px);
}
.badge{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.cont{
  position: relative;
  top: 113px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}
.product-card{
  width: 90%;
  background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255,0));
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 0.5px solid white;
  border-radius: 14px;
  box-shadow: -4px 2px 2px 0px #bebbbb;
}
.productList{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
}
.product-card img{
  width: 95%;
  position: relative;
  border-radius: 8px;
}